@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Raleway:ital,wght@1,100&family=Roboto:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    
    
}
.navBar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    width: 140px;
    cursor: pointer;
}
nav{
    padding-left: 60px;
    position: absolute;
    left: 75%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    
    
}
nav ul li{
    text-decoration: none;
    color:  #333;
    font-size: 25px;
    
}
av ul lia {
    text-decoration: none;
    color:  #333;
    font-size: 25px;}


.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:black;
}
*.content p{
    font-size: 25px;
    color:#6a7199;
    
}
.Fondo{
    height: 50%;
    position: absolute;
    bottom: 50px;
    right:160px; 
        
}
#piepagina{
    position:absolute;
    bottom: 0;
    height: 4%;
    left: 0;
    height: 81%;
    width: 100%;
    background-color: cyan;
   text-align: center;
}